@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

/* * STYLE VALUES ----------------------------------
? COLOR PALLETTE
- vibrant colors
Red: #EA5353
Cyan: #45D3D3
Orange: #FCAF4A
Blue: #549EF2

- soft colors
Very Dark Blue: #4C4E61
Grayish Blue: #A3A5AE
Very Light Gray: #FAFAFA

? FONT PROPERTIES
- family
Poppins

- Weights
200
400
600

-sizes
body: 15px

--------------------------------------------------*/
/* ? GLOBAL STYLES */
* {
    /* removes default white spaces */
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* Sets the font to all the elements */
    font-family: 'Poppins', serif;

    /* debugging */
    /*outline: 1px dashed red;*/
}
/* ? TEXT STYLES */
p {
    font-weight: 400px;
    font-size: 15px;
    color: #a3a5ae;
}
/* ? HEADINGS STYLES */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600px;
    color: #4c4e61;
}
/* BODY STYLES */
body {
    background-color: #fafafa;
    width: 1440px;
    outline: 1px solid black;
}

/* HEADER STYLES ----------------------------------------------------------------- */
header {
    width: 500px;
    text-align: center;
    margin: 50px auto;
}

header h1 {
    font-weight: 200;
}

header .bold-title {
    font-weight: 600;
}

header .phrase {
    margin-top: 20px;
}

/* MAIN SECTION ----------------------------------------------------------------- */
main {
    width: fit-content;
    height: calc(
        500px + (20px * 2)
    ); /* double of a card heigh + margin spaces */
    margin: auto;
    outline: 1px solid red;
}

/* ? CARD SECTION */
.card-colum {
    /* dimensions */
    width: 350px;
    height: fit-content;

    /* display */
    display: block;

    /* alignment */
    margin: 0 20px;
    float: left;
}

.side-colum {
    /* alignment */
    margin-top: calc(250px / 2); /* half height of the card */
}

.card {
    /* dimensions */
    width: 100%;
    height: 250px;

    /* borders */
    border-radius: 5px;
    border: none;

    /* display */
    overflow: hidden;
    display: inline-block;

    /* styling */
    background-color: white;
    box-shadow: 0 15px 30px 1px #bbb;

    /* alignment */
    margin: 10px 0;

    transition: all 0.5s ease;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0 15px 30px 1px #bbb;
}

.card-content {
    /* dimensions */
    width: 100%;
    height: 100%;

    /* alignment */
    padding: 20px 20px;
    position: relative;

    /* border */
    border-top: 5px solid var(--color);
}

.card-icon {
    position: absolute;
    bottom: 25px;
    right: 25px;
}

.card-text {
    margin-top: 10px;
}
